{% extends 'tienda/base.html' %}

{% load static %}

{% block titul %} Perfil {% endblock %}

{% block contenedor %}

    <div class="card mb-3  mx-auto mt-3" style="max-width: 1000px; height: auto;border-style:groove;border-width: 3px;border-color:black;">
        <div class="row g-0" >
            <div class="col-md-4">
                <img src="{{ request.session.logueo.foto }}" style="border-color:black; border-width:3px; padding:5px" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ request.session.logueo.nombre_rol }}</h5>
                    <p class="card-text">
                        {{ request.session.logueo.nombre }}<br>
                    </p>
                    <p class="card-text"><small class="text-body-secondary">Usuario: {{ data.nick }}</small></p>

                    <p class="card-text"><small class="text-body-secondary"> {{ data.descripcion }}</small></p>
                    
                    <a href="{% url 'tienda:editar_perfil' %}">
                        <button> Editar perfil</button>
                    </a>
                </div> 
            </div>
        </div>
    </div>

{% endblock %}