{% extends 'tienda/base.html' %}

{% load static %}

{% block titul %} Login {% endblock %}

{% block contenedor %}


{% if messages %}

        {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div> 
        {% endfor %} 
    {% endif %}
    
    <h2 class="text-center">Pagos</h2>

    <form class="w-50 shadow mx-auto p-4 m-3" method="post" action="{% url 'tienda:guardar_pagos' %}">
        {% csrf_token %}

        Monto: <input type="text" name="monto" class="form-control my-2" required>
        Fecha de pago: <input type="date" name="fecha_pago" class="form-control my-2" required>
        Metodo de pago: <input type="text" name="metodo_pago" class="form-control my-2" required>
        Descripción:
        <textarea class="form-control my-2" name="descripcion"  >

        </textarea>
        
        <input type="submit" value="Guardar" class="btn btn-primary">

    </form>

    <table class="table table-light w-75 mx-auto text-center">

        <tr class="table-dark">
            <th>Monto</th>
            <th>Fecha de pago </th>
            <th>Metodo de pago </th>
            <th>Descripción</th>
            <th colspan="2"></th>
        </tr>
    {% for pagos in pagos %}    
        <tr>
            <td>{{ pagos.monto }}</td>
            <td>{{ pagos.fecha_pago }}</td>
            <td>{{ pagos.metodo_pago }}</td>
            <td>{{ pagos.descripcion }}</td>

            <td>
                <form action="{% url 'eliminar_pagos' pagos.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger "onclick="return confirm('¿Deseas eliminar este pago?')">
                        <i class="fa fa-trash"></i>
                    </button>
                </form>
            </td>
            <td>
                <form action="{% url 'detalle_pagos' pagos.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}